@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Poppins:wght@100;400;700&family=Roboto:wght@100;400;700&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0 none;
  box-sizing: border-box;
}

main {
  height: 80vh;
  width: 80vh;
  display: flex;
  flex-wrap: wrap;
  margin: 10vh auto;
}

@keyframes piscadela {
  50% {
    background-color: white;
  }
}

main > div {
  border: 5px solid black;
  width: 50%;
  flex: none;
  transition: 0.3s;
}

main > div:nth-child(1) {
  background-color: blue;
}

main > div:nth-child(2) {
  background-color: red;
}

main > div:nth-child(3) {
  background-color: green;
}

main > div:nth-child(4) {
  background-color: yellow;
}

main > div.animate {
  animation: piscadela 1s ease-in-out;
  /* animation-name: piscadela;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; */
}

div.pontuacao {
  position: absolute;
  padding: 5vmin;
  background-color: #000000;
  color: #ffffff;
}

div.regressive-count {
  height: 500px;
  width: 500px;
  padding: 16px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  visibility: hidden;
  opacity: 0;

  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;
  justify-self: center;
  align-self: center;

  color: #ffffff;
  font-family: 'Montsserat', sans-serif;
  font-weight: lighter;
}

div.regressive-count.visible {
  visibility: visible;
  opacity: 1;
}

.number {
  font-size: 100px;
}

div.overlay {
  pointer-events: none;
  height: 300px;
  width: 500px;
  padding: 16px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  visibility: hidden;
  opacity: 0;

  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -250px;
  justify-self: center;
  align-self: center;

  color: #ffffff;
  font-family: 'Montsserat', sans-serif;
  font-weight: lighter;

  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

div.overlay.visible {
  pointer-events: all;
  visibility: visible;
  opacity: 1;
}

.overlay header {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay h1 {
  margin: 0;
  text-align: center;
}

.score-board {
  flex: 1;
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.score.invisible {
  display: none;
  visibility: hidden;
}

.btn {
  flex: 1;
  display: flex;
  align-items: center;
}

.start-button {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #37FF8B;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  align-self: center;
}

.new-record {
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  height: 0;
  flex: 0;
  text-align: center;
}

.new-record.visible {
  height: auto;
  flex: 1;
  opacity: 1;
  visibility: visible;
  display: flex;
  align-items: center;
  justify-content: center;
}